<div class="list-products">
  <section class="product__container">
    <div class="product__content">
      <strong></strong>
      <h3></h3>
      <h4></h4>

      <div class="product__options">
        <button class="edit btn"></button>
        <button class="delete btn"></button>
      </div>
    </div>
  </section>

  <section class="product__container">
    <div class="product__content">
      <strong></strong>
      <h3></h3>
      <h4></h4>

      <div class="product__options">
        <button class="edit btn"></button>
        <button class="delete btn"></button>
      </div>
    </div>
  </section>

  <section class="product__container">
    <div class="product__content">
      <strong></strong>
      <h3></h3>
      <h4></h4>

      <div class="product__options">
        <button class="edit btn"></button>
        <button class="delete btn"></button>
      </div>
    </div>
  </section>

  <section class="product__container">
    <div class="product__content">
      <strong></strong>
      <h3></h3>
      <h4></h4>

      <div class="product__options">
        <button class="edit btn"></button>
        <button class="delete btn"></button>
      </div>
    </div>
  </section>
</div>
