.header {
  width: 100%;
  height: 4rem;
  background-color: #7159c1;
}

.header .header__wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.header .header__wrapper .logo {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.header .header__wrapper a {
  text-decoration: none;
  color: #fff;
}

.header .header__wrapper .header__nav {
  width: 50%;
  height: 100%;
}

.header .header__wrapper .header__nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .header__wrapper .header__nav ul a {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header .header__wrapper .header__nav ul a:last-of-type {
  margin-left: 0.5rem;
}

.header .header__wrapper .header__nav ul a i {
  margin-right: 0.6rem;
}

.header .header__wrapper .header__nav ul a:hover {
  background-color: #fafafa;
  border-radius: 30px;
  color: #7159c1;
}

@media (max-width: 600px) {
  .header__nav {
    display: none;
  }
}

@media (min-width: 600px) {
  .mobile__nav {
    display: none;
  }
}
