<div class="form__container">
  <form action="" method="post">
    <div class="form__field">
      <label for="">Nome</label>
      <input type="text" name="" id="" placeholder="Apple MacBook Pro">
    </div>

    <div class="form__field">
      <label for="">Descrição</label>
      <input type="text" name="" id="" maxlength="1000" placeholder="Faça mais, descubra um novo conceito de produtividade...">
    </div>

    <div class="form__field">
      <label for="">Valor</label>
      <input type="number" name="" id="" placeholder="R$25.309,00">
    </div>

    <div class="form__field">
      <label for="">Especificações técnicas</label>
      <input type="text" name="" id="" maxlength="1000" placeholder="Processador: i9-9900K">
    </div>

    <button type="submit">
      Adicionar
    </button>
  </form>
</div>