.home.mat-elevation-z2 {
  background-color: #FFF;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.home.mat-elevation-z2 .home__title {
  margin-bottom: 25px;
  color: #7159c1;
}

@media (max-width: 1000px) {
  .home.mat-elevation-z2 .home__title {
    line-height: 26px;
    text-align: center;
  }
}
