<div class="list-products">
    <section class="product__container">
      <div class="product__content">
        <strong>#1</strong>
        <h3>Notebook Dell G5</h3>
        <h4>R$ 5.600,00</h4>

        <div class="product__options">
          <button class="edit btn">Editar</button>
          <button class="delete btn">Deletar</button>
        </div>
      </div>

      <div class="product__content">
        <strong>#2</strong>
        <h3>Samsung Galaxy S20</h3>
        <h4>R$ 4.900,00</h4>

        <div class="product__options">
          <button class="edit btn">Editar</button>
          <button class="delete btn">Deletar</button>
        </div>
      </div>
    </section>
</div>