.list-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.list-products .product__container {
  width: 100%;
  height: 100%;
  background-color: #f9fcff;
}

.list-products .product__container:last-child {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.list-products .product__container .product__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}

.list-products .product__container .product__content:first-child {
  border-top: 1px solid #ccc;
}

.list-products .product__container .product__content strong {
  margin-right: 25px;
}

.list-products .product__container .product__content h3, h4 {
  margin: 0;
}

.list-products .product__container .product__content h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #818181;
}

.list-products .product__container .product__content h4 {
  position: absolute;
  right: 24rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  color: #008000;
}

.list-products a {
  width: 50px;
  height: 30px;
  margin-bottom: 5px;
  text-decoration: none;
}

.list-products .return.btn {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: #7159c1;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.list-products .return.btn:hover {
  opacity: 80%;
}

.list-products .product__container .product__content .product__options {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 15px;
}

.list-products .product__container .product__content .product__options .edit.btn, .delete.btn {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 7px;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: #1E88E5;
}

.list-products .product__container .product__content .product__options .delete.btn {
  background-color: #F62D2D;
}

.list-products .product__container .product__content .product__options .edit.btn:hover, .delete.btn:hover {
  opacity: 80%;
}
