<div class="list-products">
  <a routerLink="/">
    <button class="return btn">
      Voltar
    </button>
  </a>

    <section class="product__container" *ngFor="let product of products">
      <div class="product__content">
        <strong>#{{product.id}}</strong>
        <h3>{{product.name}}</h3>
        <h4>R${{product.price}}</h4>

        <div class="product__options">
          <button class="edit btn">Editar</button>
          <button class="delete btn">Deletar</button>
        </div>
      </div>
    </section>
</div>
