<div class="form__container">
  <form>
    <div class="form__field">
      <label>Nome</label>
      <input type="text" name="name" placeholder="Apple MacBook Pro" [(ngModel)]="product.name">
    </div>

    <div class="form__field">
      <label>Descrição</label>
      <input type="text" name="description" maxlength="1000" placeholder="Faça mais, descubra um novo conceito de produtividade..." [(ngModel)]="product.description">
    </div>

    <div class="form__field">
      <label>Valor</label>
      <input type="text" name="price" placeholder="R$25.309,00" [(ngModel)]="product.price" (keyup)="formatNumberToReal()">
    </div>

    <div class="form__field">
      <label>Especificações técnicas</label>
      <input type="text" name="specifications" maxlength="1000" placeholder="Processador: i9-9900K" [(ngModel)]="product.specifications">
    </div>

    <app-action-button
      class="submit btn" 
      type="submit"
      textContent="Adicionar"
      (click)="handleSubmitClick()">
    </app-action-button>
  </form>
</div>
